<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dane.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>180EB0822E9A0DD400D3C5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180EB0912E9A0DD500D3C5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>180EB09B2E9A0DD500D3C5F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
