
/* Example media queries */

.alarmBasicGrey
{
}

    .alarmBasicGrey #divMessageLists, #divMessageBlocks, #divSelection, #divParameter, #divGeneral, #divEffect, #divAlmFont, #divAlmStatusBar, #divAlmToolBar, #divHitList
    {
        height: 578px;
        width: 486px;
        border: 1px solid rgb(17, 19, 18);
        margin: 0 0 0 3px;
    }

.trendBasicGrey > #divAlmFont > #fontFieldSet > textarea
{
    height: 138px;
    width: 100%;
    resize: none;
    overflow: auto;
    padding: 10px;
}

.alarmBasicGrey div
{
    border: 1px solid black;
    height: 228px;
    width: 230px;
}

.alarmBasicGrey #messageListFirstDiv
{
    float: left;
    margin: 5px 6px 1px 8px;
    border: none;
    height: 50%;
    width: 46%;
}
.alarmBasicGrey #hitListFirstDiv
{
    float: left;
    margin: 5px 6px 1px 8px;
    border: none;
    height: 50%;
    width: 46%;
}
.alarmBasicGrey #messageListThirdDiv
{
    float: left;
    margin: 3px 25px 33px 8px;
    border: none;
    height: 9%;
    width: 46%;
}
.alarmBasicGrey #hitListThirdDiv
{
    float: left;
    margin: 3px 25px 33px -214px;
    border: none;
    height: 9%;
    width: 46%;
}
.alarmBasicGrey #hitListFifthDiv
{
    float: left;
    margin: -6px 0px 0px 6px;
    border: none;
    height: 36%;
    width: 100%;
}
.alarmBasicGrey #messageBlockFirstDiv
{
    float: left;
    margin: 9px 11px 39px 12px;
    border: none;
    height: 43%;
    width: 46%;
}

.alarmBasicGrey #messageBlockThirdDiv
{
    float: left;
    margin: -35px 0px 0px 13px;
    border: none;
    height: 34%;
    width: 48%;
}

.alarmBasicGrey #messageBlockFifthDiv
{
    float: left;
    margin: 33px 28px 0 12px;
    border: none;
    height: 6%;
}

.alarmBasicGrey #parameterFirstDiv
{
    float: left;
    margin: 8px 28px 21px 12px;
    border: none;
    height: 40%;
}

.alarmBasicGrey #effectFirstDiv
{
    float: left;
    margin: 9px 0px 0px 12px;
    border: none;
    width: 46%;
    height: 44%;
}

.alarmBasicGrey #parameterThirdDiv
{
    float: left;
    margin: -25px 0px 0px 12px;
    border: none;
    height: 18%;
}

.alarmBasicGrey #effectThirdDiv
{
    float: left;
    margin: 106px 0px 0px 12px;
    border: none;
    width: 46%;
    height: 30%;
}

.alarmBasicGrey #parameterSecondDiv
{
    float: right;
    margin: -252px 0 0 0;
    width: 46%;
    border: none;
    height: 40%;
}

.alarmBasicGrey #parameterFourthDiv
{
    float: right;
    margin: 25px 1px 0 0;
    width: 46%;
    border: none;
    height: 18%;
}

.alarmBasicGrey #effectSecondDiv
{
    float: right;
    margin: -254px 27px 0px 0;
    width: 46%;
    height: 44%;
    border: none;
}

.alarmBasicGrey #effectFourthDiv
{
    float: right;
    margin: 56px 0px 0 0;
    width: 46%;
    border: none;
    height: 33%;
}

.alarmBasicGrey #generalFirstDiv
{
    float: left;
    margin: 25px 28px 21px 12px;
    border: none;
    height: 69%;
}

.alarmBasicGrey #generalSecondDiv
{
    float: right;
    margin: 28px 1px 0 0;
    width: 46%;
    border: none;
    height: 17%;
}

.alarmBasicGrey #generalThirdDiv
{
    float: left;
    margin: -33px 0px -40px 12px;
    border: none;
    height: 28%;
}

.alarmBasicGrey #generalFourthDiv
{
    float: right;
    margin: -151px -222px 0 0;
    width: 46%;
    border: none;
    height: 42%;
}

.alarmBasicGrey #selectionFirstDiv
{
    float: left;
    margin: 9px 28px 21px 17px;
    border: none;
    height: 100px;
    width: 44%;
}

.alarmBasicGrey #selectionSecondDiv
{
    float: right;
    margin: -120px 1px 0 0;
    width: 46%;
    border: none;
    height: 370px;
}

.alarmBasicGrey #selectionThirdDiv
{
    float: left;
    margin: -16px 9px 21px 8px;
    border: none;
    height: 42%;
    width: 44%;
}

.alarmBasicGrey #messageListSecondDiv
{
    float: right;
    margin: -290px 17px 0 0;
    width: 46%;
    border: none;
    height: 50%;
}
.alarmBasicGrey #hitListSecondDiv
{
    float: right;
    margin: 5px 17px 0 0;
    width: 46%;
    border: none;
    height: 50%;
}
.alarmBasicGrey #messageListFourthDiv
{
    float: right;
    margin: -84px 77px 0 0;
    width: 46%;
    border: none;
    height: 9%;
}
.alarmBasicGrey #hitListFourthDiv
{
    float: right;
    margin: -84px 77px 0 0;
    width: 46%;
    border: none;
    height: 9%;
}
.alarmBasicGrey #messageBlockSecondDiv
{
    float: right;
    margin: 4px -6px 0 0;
    width: 49%;
    border: none;
    height: 44%;
}

.alarmBasicGrey #messageBlockFourthDiv
{
    float: right;
    margin: -41px -2px 0 0;
    width: 46%;
    border: none;
    height: 25%;
}

.alarmBasicGrey input[type="text"]
{
    width: 100%;
    height: 100%;
}

.alarmBasicGrey input[type="text"]
{
    height: 10%;
}

.alarmBasicGrey #buttonDiv2,#hitListbuttonDiv2
{
    height: 20px;
    margin: 13px 0px 0px -1px;
    float: left;
    border: none;
}

.alarmBasicGrey #buttonDiv5
{
    height: 20px;
    margin: -20px 0px 0px 134px;
    float: left;
    border: none;
}
.alarmBasicGrey #hitListbuttonDiv5
{
    height: 20px;
    margin: -20px 0px 0px 134px;
    float: left;
    border: none;
}
.alarmBasicGrey #buttonDiv1
{
    height: 20px;
    margin: -33px 0px 0px 158px;
    float: left;
    border: none;
}
.alarmBasicGrey #hitListbuttonDiv1
{
    height: 20px;
    margin: 13px 0px 0px 158px;
    float: left;
    border: none;
}
.alarmBasicGrey #buttonDiv3, #buttonDiv4
{
    height: 21px;
    margin: -3px 15px 10px 15px;
    float: left;
    border: none;
    width: 87px;
}

.alarmBasicGrey #hitListbuttonDiv3,#hitListbuttonDiv4
{
    height: 21px;
    margin: -3px 15px 10px 15px;
    float: left;
    border: none;
    width: 87px;
}

.alarmBasicGrey input[type="text"], input[type="number"]
{
    width: 100%;
    border: none;
    height: 100%;
}

.alarmBasicGrey #serverID
{
    border: none;
    width: 190px;
    height: 54px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.alarmBasicGrey #localHostTextID
{
    height: 20px;
}

.alarmBasicGrey select
{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    border: 1px solid black;
    padding-left: 3px;
    margin-top: 5px;
}

.alarmBasicGrey input[type="text"], input[type="number"]
{
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid black;
    margin-top: 5px;
}

.alarmBasicGrey #displayFieldset
{
    float: left;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 81%;
}

.alarmBasicGrey #sortingFieldset
{
    float: left;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    height: 33Px;
}

.alarmBasicGrey #selectionMLFieldset
{
    float: right;
    margin: 6px 176px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    height: 33Px;
}

.alarmBasicGrey #tableContentEffectsFieldset
{
    float: left;
    margin: 0px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 114%;
}

.alarmBasicGrey #columnHeaderFieldset
{
    float: left;
    margin: 0px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 90%;
}

.alarmBasicGrey #sortFieldset
{
    float: right;
    margin: 0px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 90%;
}

.alarmBasicGrey #tableTitleEffectsFieldset
{
    float: right;
    margin: 0px -15px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 114%;
}

.alarmBasicGrey #rowLabelFieldset
{
    float: left;
    margin: 0px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 98%;
}

.alarmBasicGrey #separatorLinesEffectsFieldset
{
    float: left;
    margin: -50px 11px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 115%;
}

.alarmBasicGrey #tableContentFieldset
{
    float: right;
    margin: -50px 11px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 98%;
}

.alarmBasicGrey #GeneralEffectsFieldset
{
    float: right;
    margin: 0px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 104%;
}

.alarmBasicGrey #formatFieldset
{
    float: right;
    margin: 48px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 109%;
}

.alarmBasicGrey #windowFieldset
{
    float: left;
    margin: -18px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 91%;
}

.alarmBasicGrey #propertiesFieldset
{
    float: right;
    margin: -465px 12px 0px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 273%;
}

.alarmBasicGrey #printJobFieldset, #alarmTimeBaseFieldset
{
    float: left;
    margin: 0px 12px 10px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 30%;
}

.alarmBasicGrey #rowColorFieldset1, #rowColorFieldset2, #backgroundFieldset
{
    float: left;
    margin: 0px 0px 0px 2px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 88%;
    height: 26%;
}

.alarmBasicGrey #separatorColorFieldset
{
    float: left;
    margin: 0px 12px 10px 2px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 88%;
    height: 34%;
}

.alarmBasicGrey #separatorWeightFieldset
{
    float: left;
    margin: 0px 12px 10px 13px;
    border: 0px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 100%;
    height: 34%;
}

.alarmBasicGrey #fontColorFieldset, #shadingColorFieldset, #selectionColorFieldset
{
    float: right;
    margin: 0px 2px 4px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 88%;
    height: 26%;
}

.alarmBasicGrey #borderFieldset, #windowSeparatorFieldset
{
    float: right;
    margin: 0px 2px 10px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 88%;
    height: 36%;
}

.alarmBasicGrey .pwcSelectionFieldset
{
    float: left !important;
    margin: 0px 12px 10px -9px !important;
    border: 1px solid rgb(226, 218, 218) !important;
    border-radius: 7px !important;
    width: 91% !important;
    height: 86% !important;
}
.alarmBasicGrey #maxDataRecordsFieldset
{
    float: left;
    margin: 0px 12px 10px 2px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 28%;
}
.alarmBasicGrey #timeRangeFieldset
{
    float: left;
    margin: 0px 12px 10px 2px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 27%;
}
.alarmBasicGrey #displayOptionFieldset
{
    float: right;
    margin: 0px 12px 10px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 24%;
}
.alarmBasicGrey #labelDiv
{
    float:right !important;
    margin: 0px 12px 10px 0px !important;
    border: none !important;
    width: 50% !important;
    height: 24% !important;
}
.alarmBasicGrey .pwcAlarmTextbox
{
     width: 54px !important;
    height: 19px !important;
}
.alarmBasicGrey .pwcSelectedCellFieldset, .pwcSelectedRowFieldset
{
    float: left !important;
    margin: 10px 18px 0 0px !important;
    border: 1px solid rgb(226, 218, 218) !important;
    border-radius: 7px !important;
    height: 24% !important;
    width: 91% !important;
}

.alarmBasicGrey #actionFieldset
{
    float: right;
    margin: -3px 12px 10px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 18%;
}

.alarmBasicGrey #pageThroughFieldset
{
    float: right;
    margin: -5px 12px 10px 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 91%;
    height: 40%;
}

.alarmBasicGrey .pwcSelectionColorsFieldset
{
    float: right !important;
    margin: 0px 7px 10px 0px !important;
    border: 1px solid rgb(226, 218, 218) !important;
    border-radius: 7px !important;
    width: 95% !important;
    height: 78% !important;
}

.alarmBasicGrey .pwcBorderFieldset
{
    float: left !important;
    margin: 6px 18px 0 0px !important;
    border: 1px solid rgb(226, 218, 218) !important;
    border-radius: 7px !important;
    width: 91% !important;
    height: 73% !important;
}

.alarmBasicGrey fieldset
{
    float: left;
    margin: 6px 18px 0 0px;
    border: 1px solid rgb(226, 218, 218);
    border-radius: 7px;
    width: 54%;
    height: 60%;
}

.alarmBasicGrey #colorID
{
    border: none;
    height: 60px;
    width: 105px;
    float: left;
    margin-top: 18px;
}

.alarmBasicGrey #weightID
{
    float: right;
    width: 81px;
    height: 60px;
    margin-top: 18px;
    border: none;
}

.alarmBasicGrey #weightTextID
{
    width: 51px;
    height: 21px;
    margin-left: 1px;
}

.alarmBasicGrey #printJobID
{
    height: 20px;
    width: 170px;
}

.alarmBasicGrey #pageThroughID
{
    height: 20px;
    width: 200px;
}

input[type="button"]
{
    background: rgb(196, 191, 191);
    border: 1PX solid black;
    padding: 0 9px 0 9px;
}

.alarmBasicGrey #fourthDiv
{
    float: right;
    margin: 27px 0 0 0;
    width: 48%;
    border: none;
}

.alarmBasicGrey #msgblockCheckbox
{
    margin: -24px 5px 4px -4px;
    border: 0px;
    height: 57px !important;
    width: 98% !important;
}

.alarmBasicGrey #labelID
{
    width: 102px;
    height: 21px;
    border: none;
    margin: 2px 1px 32px 0px;
}

.alarmBasicGrey #alignmentID
{
    width: 102px;
    height: 21px;
    border: none;
    margin: 8px 1px 32px 0px;
}

.alarmBasicGrey .pwcmsglabelTextID
{
    width: 128% !important;
    height: 100% !important;
}

.alarmBasicGrey #textID
{
    float: right;
    width: 94px;
    height: 21px;
    border: none;
    margin: -53px 5px 28px 3px;
}

.alarmBasicGrey #lenghtTextID
{
    /* float: right; */
    width: 151px;
    height: 21px;
    border: none;
    margin: -3px 10px 53px 2px;
}

.alarmBasicGrey .pwcmsgtxtID
{
    width: 60% !important;
    height: 100% !important;
}

.alarmBasicGrey .pwcmsgLengthID
{
    width: 42% !important;
    height: 95% !important;
}

.alarmBasicGrey #selectionBorderWeightdiv
{
    float: right;
    width: 100%;
    height: 55px;
    border: none;
}

.pwcAlarmDropdown
{
    width: 95% !important;
    height: 20px !important;
    margin-bottom: 10px !important;
    margin-top: 6px !important;
}
.pwcAlarmDropdown2
{
    width: 24% !important;
    height: 20px !important;
    margin-bottom: 10px !important;
    margin-top: 6px !important;
}
.pwcAlarmCheckbox
{
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

.alarmBasicGrey .pwcAlarmCheckbox1
{
    margin-bottom: 12px !important;
    margin-top: 6px !important;
}

.alarmBasicGrey #flashingID, #dateFormatID, #timeFormatID, #algnmtID, #sortColumnID, #sortMouseClickID, #rowAlignmentID, #styleID, #windowTitleID, #columnScrollID, #rowScrollID, #activeListID, #defaultSortID, #timeBaseID, #displayOptionID, #actionID, #selectionID, #borderID, #selectColorID
{
    width: 95%;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 6px;
}

.alarmBasicGrey .pwcmsgflashingID, .pwcmsgtimeFormatID, .pwcmsgdateFormatID
{
    width: 95% !important;
    height: 20px !important;
    margin-bottom: 10px !important;
    margin-top: 6px !important;
}

.trendBasicGrey #checkBoxDivStatusBar
{
    overflow: auto;
}

#textWidth
{
    width: 90% !important;
}

@media screen and (max-width: 25em)
{

    /* margin: 0 2em 0 0; */
    .alarmBasicGrey #mainDiv, #divTrendView, #divTrendWindow, #divTimeAxis, #divValueAxis
    {
        height: 881px;
        width: 351px;
    }

    .alarmBasicGrey #firstDiv
    {
        height: 16%;
    }

    .alarmBasicGrey #checkBoxDiv
    {
        height: 78%;
        padding-top: 0.5em;
    }

    .alarmBasicGrey #messageListFourthDiv
    {
        float: right;
        margin: -84px 98px 0 0;
        width: 46%;
        border: none;
        height: 15%;
    }
    .alarmBasicGrey #messageListSecondDiv, #hitListSecondDiv
    {
        float: right;
        margin: 5px 0 58px 13px;
        width: 90%;
    }

    .alarmBasicGrey label
    {
        margin-right: 23%;
    }

    .alarmBasicGrey fieldset
    {
        width: 86%;
    }

        .alarmBasicGrey fieldset > label, .basicGrey fieldset > label > select
        {
            margin-right: 5px;
        }

    .alarmBasicGrey input[type="color"]
    {
        width: 38px;
    }

    .alarmBasicGrey div
    {
        width: 97%;
    }

    .alarmBasicGrey #firstDiv
    {
        margin: 25px 6px 9px 12px;
    }

    .alarmBasicGrey input[type="text"]
    {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .alarmBasicGrey select
    {
        width: 103%;
    }

    .alarmBasicGrey input[type="text"], input[type="number"]
    {
        width: 101%;
    }

    .alarmBasicGrey #buttonDiv
    {
        margin: 13px 0px 0px 0px;
    }

    .alarmBasicGrey fieldset
    {
        margin: 6px 7px 0 12px;
    }

    input[type="button"]
    {
        padding: 0 25px 0 15px;
    }

    #chkComment
    {
        margin-top: 7px;
        margin-left: 0px;
    }

    .content
    {
        height: 100%;
    }

    .alarmObjectNames
    {
        width: 100% !important;
        margin-right: 10% !important;
    }
}

.pwcPBTabs nav #alarmfirstTabRow
{
    position: absolute;
    display: block;
    background: white;
    width: 100%;
}

#alarmsecondTabRow
{
    position: absolute;
    display: block;
    background: white;
    width: 100%;
}

.pwcPBTabs nav #alarmsecondTabRow > button
{
    padding: 0px 4px 0px 4px;
    width: 15.5%;
}

.pwcPBTabs nav #alarmfirstTabRow > button
{
    padding: 0px 6px 0px 6px;
    width: 17%;
}

.alarmBasicGrey_width
{
    width: 60% !important;
}

.alarmBasicGrey_ColorWidth
{
    width: 62px !important;
}
/*.alarmBasicGrey_width1
{
    width: 50% !important;
    margin-right: 29px !important;
}*/
.selectionNumber
{
    width: 90% !important;
}

.divScrolbar
{
    overflow: auto;
}

fieldset#almfontEffects
{
    width: 101%;
    margin: 5px 0 0 0;
    height: 50%;
    padding: 11px 0 0 0;
}

.trendBasicGrey #almfontSecondDiv
{
    float: right;
    margin: 5px 12px 0 0;
    width: 46%;
    border: none;
}

.trendBasicGrey #almfontFirstDiv
{
    float: left;
    margin: 7px 6px 48px 8px;
    border: none;
}

.almEditableTextBox
{
    border: none !important;
    margin-top: 3px !important;
    margin-left: -214px !important;
    width: 181px !important;
    height: 15px !important;
    margin-bottom: 0px !important;
}

.alarmBasicGrey #textBoxDiv2, #textBoxDiv1
{
    border: 0px !important;
}

.msgBlockCheckBoxDiv
{
    border: none !important;
    width: 100% !important;
    height: 20px !important;
}

.noselection
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.formatDiv
{
    width: 91% !important;
    height: 109%!important;
    border: none!important;
    margin-left: 8px!important;
}

.prefixTextBox
{
    width: 65px !important;
}

#warningOkBtn
{
    height: 25px;
    width: 84px;
    margin-right: 13px;
}
