.resizableTagDialog
{
    width: 985px;
    height: 569px;
    /*border: 2px solid;*/
    pointer-events: visiblePainted;
}


#bottomTable
{
    position: absolute;
    bottom: 378px;
}

#topDiv
{
    width: 40%;
    border: 0px solid black;
}

.body_Div
{
    /*width: 96%;
    height: 64%;*/
    border: 1px solid black;
    margin-left: 10px;
    float: left;
    margin-right: auto;
    /* left: inherit; */
}

.treeViewDiv
{
    float: left;
    /* border: 2px solid; */
    overflow: auto;
    background-color: white;
}

#widthSeperator
{
    height: 100%;
    width: 5%;
    /*border: 2px solid;*/
    float: left;
}

.widthSVGParent
{
    height: 100%;
    width: 5px;
}

#gridContainer
{
    float: left;
    /* border: 2px solid; */
    /*width: 60%;
    height: 100%;*/
}


.dataSourceFieldSet
{
    /*width: 72%;*/
    height: 55px;
    border: none;
    float: right;
    margin-top: 4px;
    margin-right: 10px;
}

.filterFieldSet
{
    /*width: 250px;*/
    height: 35px;
    border: none;
    float: left;
    margin-top: 20px;
}

.dataSourceItems
{
    margin-right: 0px;
    border: 1px solid;
    /* float: left; */
    margin-top: 2px;
    height: 90%;
    margin-left: 10px;
    display: inline-block;
    background-color: white;
    overflow: auto;
}

.filterTextBox
{
     border: 1px solid ; 
    margin-top: -15px !important;
    margin-left: 10px !important;
    /*width: 65% !important;*/
    height: 65% !important;
    margin-bottom: 0px !important;
    padding-left: 5px;
}


.LeafRow
{
    margin: 5px 5px 5px 65px;
}

.LeafName
{
    height: auto;
    width: 50%;
    word-break: break-all;
}

.treeNode
{
    width: auto;
    margin: 5px 5px 5px 25px;
}

.treeNodeContent
{
    outline: none;
    width: inherit;
}

summary::-webkit-details-marker
{
    display: none;
}

.nodeBackColor
{
    background: lightblue;
}

.nodeDefaultSelectColor
{
    background: lightgrey;
}

#container
{
    width: 100%;
    height: 200px;
}

#one
{
    width: 33.333%;
    height: 200px;
    float: left;
    background-color: red;
}

#two
{
    width: 33.333%;
    height: 200px;
    float: left;
    background-color: yellow;
}

#three
{
    width: 33.333%;
    height: 200px;
    float: left;
    background-color: blue;
}

.btnClass
{
    float: right;
    margin-top: 15px;
    width: 80px;
    height: 25px;
    margin-right: 20px;
    background: rgb(196, 191, 191);
    border: 1PX solid black;
    padding: 2px 19px 2px 19px;
}

.treeViewImages
{
    margin: 0px 2px 0px 2px;
    width: 12px;
    height: 12px;
}

#HelpButton
{
    margin-right: 12px !important;
}

.lockButtons
{
    float: right;
    margin-top: 15px;
    width: 70px;
    height: 25px;
    margin: 20px 22px 0px 28px !important;
}
